/* Error: expected ":".
 *   ,
 * 1 | $cliente{
 *   |         ^
 *   '
 *   scss\base\_mapas.scss 1:9            @import
 *   scss\components\_productos.scss 1:9  @import
 *   scss\style.scss 5:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ":".\a   \2577 \a 1 \2502  $cliente{\d\a   \2502          ^\a   \2575 \a   scss\\base\\_mapas.scss 1:9            @import\a   scss\\components\\_productos.scss 1:9  @import\a   scss\\style.scss 5:9                  root stylesheet';
}
