*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 150px;
    padding-left: 20px;
}



.cabecera__lista li a{
    text-decoration: none;
    color: #F9A2A9;
    font-weight: bold;  
}

.cabecera__lista li a:hover{
    transform: scale(1.3);
    color: #DF0174;
}

.cabecera__lista__item{
    font-family: Arial, sans-serif;
    padding: 10px 20px;
}