*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 150px;
    padding-left: 20px;
}

.navbar{
    background-color: white;
}

.cabecera__lista li a{
    text-decoration: none;
    color: #F9A2A9;
    font-weight: bold;  
}

.cabecera__lista li a:hover{
    transform: scale(1.3);
    color: #DF0174;
}

.cabecera__lista__item{
    font-family: Arial, sans-serif;
    padding: 10px 20px;
}

.info{
    width: 300px;
    height: 380px;
    background-color: #ECECEC;
    padding: 10px;
    margin: 0px 100px;

}

.container{
    margin: 20px;
}

.info img{
    max-width: 98%;
    max-height: auto;
}

.info div p{
    font-size: 12px;
    font-family: Arial, sans-serif;
    justify-content: justify;
    font-weight: bold;

}


.galeria {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    display: flex;

}

.galeria img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.galeria img:hover{
    filter: brightness(60%);
    
} 

.container-fluid-footer{
    width: 100%;
    height: fit-content;
    background-color: #ECECEC;
    margin-top: 10px;
}

.rs{
    margin: 5px 10px;
    width: 40px;

}

.rs:hover{
    transform: scale(1.5);
}

.card{
    width: 50%;
    background-color: #ECECEC;
    
}

.card-text1{
    text-align: justify;
    height: fit-content;
}

.card-text2{
    text-align: justify;
}


.repostera{
    border-radius: 50%;
    width: 50%;
    height: 50%;
    justify-content: center;
    height: fit-content;
}

.card-productos{
    width: 70%;
    height: fit-content;
    background-color: #ECECEC;
}
.col{
    width: auto;
    ;


}
.card-img-top{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 30px;
    border: #F9A2A9 5px solid;
}

.card-title{
    font-size: 30px;
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    color: #F9A2A9;
}