@import '../base/extends';
@import '../base/mixins';
@import '../base/listas';

.card-productos{
    width: 70%;
    height: fit-content;
    background-color: nth($colores, 1);
    div{
        h1{
            color: nth($colores, 3);
            margin-bottom: 2%;
            font-size: 100px;
        }
    }
    div{
        .form{
            width: 60%;
            height: fit-content;
            margin: 30px 0;
            font-family: Arial, sans-serif;
            border: 2px nth($colores, 2) solid;
            background-color: nth($colores, 3);
            border-radius: 10px;
            .form-control{
                width: 95%;
                height: 30px;
                border-radius: 4px;
                background-color: nth($colores, 3);
                border: 1px nth($colores, 2)e solid;
                color: nth($colores, 2);
                margin: 2%;
                font-size: 20px;
            }
        }
    }
}
