@import '../base/extends';
@import '../base/mixins';
@import '../base/listas';

header{
    nav{
        background-color: nth($colores, 2);
        .container-fluid{
            img{
                width: 150px;
                padding-left: 20px;} 

            .collapse{
                    
                ul{
                    li{
                        font-family: Arial, sans-serif;
                        padding: 10px 20px;
                        a{
                            text-decoration: none;
                            color: nth($colores, 3);
                            font-weight: bold; 
                            a:hover{
                                transform: scale(1.3);
                                color: nth($colores, 4);
                            }
                        }
                    }
                    
                }
            }
        }
    }
}