@import '../base/listas';

section{
    .card{
        width: 50%;
        background-color: nth($colores, 1);

        .card-body{
            .repostera{
                border-radius: 50%;
                width: 50%;
                height: 50%;
                justify-content: center;
                height: fit-content;

            }
            .card-text1{
                text-align: justify;
                height: fit-content;

            }
            .card-text2{
                text-align: justify;
            }
            .card-img-bottom{
                width: 350px;
                height: 350px;
                border-radius: 50%;
                margin: 30px;
                border: nth($colores, 3) 5px solid;

            }
        }
    }
}