@import '../base/extends';
@import '../base/mixins';

main{
    section{
        .card-productos{
            @include tarjeta(70%);
            height: fit-content;
            background-color: #ECECEC;
            .card-productos-principal{
                .col{
                    width: auto;
                    .card-img-top{
                        @extend %galeriapys;
                    }
                    .card-title{
                        font-size: 30px;
                        font-family: Arial, sans-serif;
                        text-align: center;
                        font-weight: bold;
                        color: #F9A2A9;
                    }
                
                }
            }
        }
    }
}
